.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.container input {
  padding: 0.5rem;
  border: 1px solid black;
}

.container button {
  padding: 1rem;
  border: 1px solid blue;
}
