.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
}

.count-container {
 font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container button {
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  border: 2px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.container button:hover {
  background-color: #0056b3;
}

.container button:active {
  transform: scale(0.95);
}
